@*页面模板引用*@
@{
    Layout = "~/Views/Shared/_NavTabMaster.cshtml";
}
@*列表页列表对象*@ @*后台返回参数*@
@{
    var SearchKey = ViewBag.SearchKey;
    var SDate = ViewBag.SDate;
    var EDate = ViewBag.EDate;
}
@*检索区域*@
@section SuperSearch{
<table class="searchContent">
        <tr>
            
            <th width="auto">
                关键字：
            </th>
            <td>
                <input type="text" size="30" placeholder="记录主题/维护事件名/记录内容" name="SearchKey" value="@SearchKey"/>
            </td>
        </tr>
    </table>
}
@*工具条区域*@
@section ToolBar{
    @Html.Dialog("Create", 800, 450)
    @Html.DialogWithId("Edit", 800, 450, "selectedId")
    @Html.Confirm("Delete", "selectedId")
}
@*列表区域*@
@section Body
{
    <table class="table" width="100%" layouth="141" targettype="navTab" asc="asc" desc="desc">
        <thead>
            <tr>
                <th style="width: 30px;">
                    序号
                </th>
                <th style="width: 20%;">
                    记录主题
                </th>
                <th style="width: 20%;">
                    维护事件名
                </th>
                <th >
                    记录内容
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })', 'DailyAffairsExecutePlanDetail',800,450) ">
                <td class="fixedcol">
                    1
                </td>
                <td>
                    <a  title="记录主题"  class="TipImp"  href="@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        记录1 </a>
                </td>
                <td style="text-align: center">
                    维护事件名
                </td>
                <td >
                    记录内容
                </td>
             
            </tr>
            
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })', 'DailyAffairsExecutePlanDetail',800,450) ">
                <td class="fixedcol">
                    2
                </td>
                <td>
                    <a  title="记录主题"  class="TipImp"  href="@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        记录2 </a>
                </td>
                <td style="text-align: center">
                    维护事件名
                </td>
                <td >
                    记录内容
                </td>
             
            </tr>
            
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })', 'DailyAffairsExecutePlanDetail',800,450) ">
                <td class="fixedcol">
                    3
                </td>
                <td>
                    <a  title="记录主题"  class="TipImp"  href="@Url.Action("Detail", "ExecutePlan", new { area = "DailyAffairs", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        记录3 </a>
                </td>
                <td style="text-align: center">
                    维护事件名
                </td>
                <td >
                    记录内容
                </td>
             
            </tr>
        </tbody>
    </table>
}
