        <table class="list" width="100%" layouth="141" targettype="navTab" asc="asc" desc="desc">
        <thead>
            <tr>
                <th style="width: 30px;">
                    序号
                </th>
                <th >
                    主题
                </th>
                <th style="width: 30%;">
                    值班地点
                </th>
                <th style="width: 20%;">
                    值班日期
                </th>
                <th >
                    内容
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    1
                </td>
                <td>
                    <a  title="维修1处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修1处网络</a>
                </td>
                 <td style="text-align: center">
                 1处机房
                </td>
                <td style="text-align: center">
                    2014-11-01
                </td>
                <td style="text-align: center">
                    维修1处网络
                </td>
            </tr>
             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    2
                </td>
                <td>
                    <a  title="维修2处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修2处网络</a>
                </td>
                 <td style="text-align: center">
                 2处机房
                </td>
                <td style="text-align: center">
                    2014-11-01
                </td>
                <td style="text-align: center">
                    维修2处网络
                </td>
            </tr>
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    3
                </td>
                <td>
                    <a  title="维修3处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修3处网络</a>
                </td>
                 <td style="text-align: center">
                 3处机房
                </td>
                <td style="text-align: center">
                    2014-11-03
                </td>
                <td style="text-align: center">
                    维修3处网络
                </td>
            </tr>
             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    4
                </td>
                <td>
                    <a  title="维修3处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修4处网络</a>
                </td>
                 <td style="text-align: center">
                 4处机房
                </td>
                <td style="text-align: center">
                    2014-11-04
                </td>
                <td style="text-align: center">
                    维修4处网络
                </td>
            </tr>

             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    5
                </td>
                <td>
                    <a  title="维修3处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修5处网络</a>
                </td>
                 <td style="text-align: center">
                 5处机房
                </td>
                <td style="text-align: center">
                    2014-11-05
                </td>
                <td style="text-align: center">
                    维修5处网络
                </td>
            </tr>
             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    6
                </td>
                <td>
                    <a  title="维修3处网络"  class="TipImp"  href="@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修6处网络</a>
                </td>
                 <td style="text-align: center">
                 6处机房
                </td>
                <td style="text-align: center">
                    2014-11-06
                </td>
                <td style="text-align: center">
                    维修6处网络
                </td>
            </tr>
        </tbody>
    </table>

