        <table class="list" width="100%" layouth="141" targettype="navTab" asc="asc" desc="desc">
        <thead>
            <tr>
                <th style="width: 30px;">
                    序号
                </th>
                <th >
                    主题
                </th>
                <th style="width: 30%;">
                    地点
                </th>
                <th style="width: 20%;">
                    日期
                </th>
                <th >
                    内容
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    1
                </td>
                <td>
                    <a  title="维修3处服务器"  class="TipImp"  href="@Url.Action("_Job", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修3处服务器</a>
                </td>
                 <td style="text-align: center">
                 3处机房
                </td>
                <td style="text-align: center">
                    2014-11-03
                </td>
                <td style="text-align: center">
                    维修3处服务器
                </td>
            </tr>
             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    2
                </td>
                <td>
                    <a  title="维修3处服务器"  class="TipImp"  href="@Url.Action("_Job", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修8处服务器</a>
                </td>
                 <td style="text-align: center">
                 8处机房
                </td>
                <td style="text-align: center">
                    2014-11-06
                </td>
                <td style="text-align: center">
                    维修8处服务器
                </td>
            </tr>
              <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    3
                </td>
                <td>
                    <a  title="维修3处服务器"  class="TipImp"  href="@Url.Action("_Job", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修11处服务器</a>
                </td>
                 <td style="text-align: center">
                 11处机房
                </td>
                <td style="text-align: center">
                    2014-11-06
                </td>
                <td style="text-align: center">
                    维修11处服务器
                </td>
            </tr>
            <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    4
                </td>
                <td>
                    <a  title="维修3处服务器"  class="TipImp"  href="@Url.Action("_Job", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修12处服务器</a>
                </td>
                 <td style="text-align: center">
                 12处机房
                </td>
                <td style="text-align: center">
                    2014-11-06
                </td>
                <td style="text-align: center">
                    维修12处服务器
                </td>
            </tr>
             <tr target="selectedId"  rel="1"  class="click_dialog" ondblclick="OpenDialog('详细信息', '@Url.Action("Detail", "JobDailyRecord", new { area = "JobArrangements", id = 1 })', 'JobArrangementsJobDailyRecordDetail') ">
                <td class="fixedcol">
                    5
                </td>
                <td>
                    <a  title="维修3处服务器"  class="TipImp"  href="@Url.Action("_Job", "JobArrangements", new { area = "JobArrangements", id = 1 })" mask="true" target="dialog" width="800" height="450" style="color: blue" alt>
                        维修15处服务器</a>
                </td>
                 <td style="text-align: center">
                 15处机房
                </td>
                <td style="text-align: center">
                    2014-11-05
                </td>
                <td style="text-align: center">
                    维修15处服务器
                </td>
            </tr>
        </tbody>
    </table>

